.sideNavbar-container{
    display: flex;
    position: relative;
    min-height: 55rem;
    background-color: rgb(4, 38, 66);
    padding-top: 40%;
    ul{
         list-style: none;
        li{
            color: white;
            border: 1px solid white;
            box-shadow: 1px 1px 6px 1px rgb(87, 87, 87);
            border-radius: 5px;
            padding: .5rem 1rem;
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }
    }
}