.department-container{
    padding: 1rem;
    font-family: "Varela Round", sans-serif;
    height: 100vh;
    @keyframes  grow{
        from {
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    .jobData{
        animation-name: grow;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
    table{
        width: 60%;
        margin-top: 2rem;
        .view{
            width: 10rem;
        }
        ul{
            list-style: none;
            text-align: left;
            margin-left: 50%;
            border: 2px solid black;
            padding: 1rem;
            background-color: black;
            li{
                margin-bottom: 4%;
                font-weight: 400;
                font-size: 1.1rem;
                color: rgb(6, 61, 124);
                color: white;
                font-family: "Roboto Slab", serif;
            }
        }
        .jobBtn{
            background-color: rgb(35, 150, 0);
            box-shadow: none;
            font-size: 1rem;
            text-align: center;
            margin: 2rem auto 1rem;
        }
        .jobBtn:hover{
            font-size: .95rem;
            transition: 1s all ease;
        }
    }
    .addDepartmentBtn{
        position: absolute;
        right: 5%;
        top: 15%;
    }
    .addJob-section{
        color: white;
        h1{
            font-family: "Roboto Slab", serif;
            font-weight: 500;
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
        input{
            font-size: 1rem;
            padding: .5rem;
            margin-bottom: 1rem;
        }
        .view{
            height: 2rem;
            width: 10%;
            font-size: 1rem;
            background-color: green;
            border: 1px solid white;
            border-radius: 5px;
            color: white;
            letter-spacing: 1px;
        }
        .view:hover{
            font-size: .9rem;
            transition: .5s all ease;
        }
    }

    .addDepartment,.addJob-section{
        height: fit-content;
        .data{
            margin-top: 2rem;
        }
    }
    .InputData{
        display: flex;
        flex-direction: column;
    }
    .tags{
        width: 70%;
        .tagsTitle{
            color: white;
            display: inline-block;
            border: 1px solid gray;
            padding: .5rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
            height: fit-content;
            button{
                margin-left: 1rem;
            }
        }
    }
    
    
}
.overlay {
    overflow: hidden;
    background-color: rgb(0,0,0,0.5);
    filter: blur(15px);
    pointer-events: none;
    z-index: 9;
    height: 100vh;
    width: 100vw;
}

          

.addDepartment, .addJob-section {
    filter: none;
    position: fixed;
    top: 50%;
    left: 50%;
    // transform: translate(-50%, -50%);
    z-index: 999; /* Ensure the popup appears on top of the background */
}